<h2>Order list</h2>
<mat-list>
  <mat-list-item *ngFor="let order of orders">
    <h3 matLine> Transaction blockchain: {{order.transactionBlockchain}} </h3>
    <h3 matLine> Transaction order: {{order.transactionId}} </h3>
    <h3 matLine> Seller address: {{order.seller}} </h3>
    <h3 matLine> Tokens for sell: {{order.amount}} </h3>
    <h3 matLine> Price: {{order.price}} ETH</h3>
    <button mat-button (click)="buyOrder(order.transactionId)">Buy</button>
  </mat-list-item>
</mat-list>
<button mat-button (click)="openDialog()">Create order</button>
