<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Nethereum Demo</h1>
      <p>This demo shows some basics interactions with an Ethereum public node using Nethereum </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Signup</a>
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Login</a>
      </p>
    </div>
  </div>
</main>